/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    padding: 40px 120px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    font-family: Orbitron,sans-serif;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.list-item{
    margin-right: 55px;
    color: #000000;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.list-item:hover{
    border-bottom: 2px solid #000000;
    font-size: 24px;
    font-weight: bold;
}

.button-group{
    display: flex;
    align-items: center;
}

.search-icon{
    margin-right: 25px;
    margin-top: 5px;
}

.nav-button{
    border: 2px solid #000000;
    outline: none;
    background: transparent;
    color: gray;
    border-radius: 12px;
    padding: 8px 52px;
    font-size: 20px;
}

.hero-container{
    position: relative;
}

.hero-container > span {
    position: absolute;
}
.hero-container div:nth-child(5){
    position: absolute;
    top: 50px;
}

.hero-container div:nth-child(5) img{
    width: 430px;
}

.square{
    left: 100px;
    top: 222px;
}

.hero-container span:nth-child(2){
    right: 0px;
    top: 60px;
}

.hero-container span:nth-child(3){
    left: 620px;
    bottom: -600px;
}

.hero-container span:nth-child(3) img{
    width: 50px;
}

.globe{
    top: 10px;
    left: 55%;
}

.globe img{
    width: 60px;
}

.hero-container-right{
    position: absolute;
    right: 0px;
    width: 55%;
}

.hero-heading{
    font-family: Orbitron,sans-serif;
    font-size: 60px;
    font-weight:700;
    position: absolute;
    top: 140px;
}

.hero-description{
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight:400;
    position: absolute;
    top: 240px;
    right:100px ;
    color: gray;
    text-align: center;
    width: 600px;
}

.hero-container-right div:nth-child(3){
    position: absolute;
    left: 30%;
    top: 400px;
}

.button-email{
    border: 2px solid #000000;
    outline: none;
    background: transparent;
    color: gray;
    border-radius: 12px;
    padding: 4px 28px;
    font-size: 18px;
    color: #000000;
    font-family: Orbitron,sans-serif;
    font-weight:600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button-join{
    border: 2px solid #ffffff;
    outline: none;
    background: #000000;
    color: gray;
    border-radius: 12px;
    padding: 4px 20px;
    font-size: 18px;
    color: #ffffff;
    font-family: Orbitron,sans-serif;
    font-weight:600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.button-email:hover,
.button-join:hover{
    scale: 1.1;
}

.button-email:hover{
    margin-right: 20px;
}

.button-join:hover{
    margin-left: 20px;
}

.hero-container-right div:last-child{
    position: absolute;
    left: 33%;
}

.contact-heading{
    position: absolute;
    width: 100px;
    top: 550px;
    right:-170px ;
    font-family: Poppins,sans-serif;
    font-weight:500;
    font-size: 18px;
    color: gray;
}

.icons{
    display: flex;
    top: 600px;
    height: 30px;
    align-items: center;
}

.icons span{
    margin-right: 20px;
}

.icons span:hover{
    scale: 1.1;
    cursor: pointer;
}


